{% extends 'layouts/main.html' %}

{% block head %}
	<title>Recipes - Foodfy</title>
{% endblock head %}

{% block content %}

	<main class="recipes-recipes_container">
		{% for recipe in recipes %}
			<div class="recipes-recipe" data-recipe_id="{{ recipe.id }}">
				<div class="recipes-recipe_image">
					<img src="{{ recipe.image }}" alt="Imagem de {{ recipe.title }}" />
				</div>
				<div class="recipes-recipe_info">
					<p>{{ recipe.title }}</p>
				</div>
				<div class="recipes-recipe_chef">
					<p>por {{ recipe.author }}</p>
				</div>
			</div>
		{% endfor %}
	</main>

	<div class="recipes-pagination_container">
		<div
			class="recipes-pagination"
			data-page="{{ pagination.page }}"
			data-total="{{ pagination.total }}"
		></div>
	</div>

{% endblock content %}
