@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*! -------------------- global settings -------------------- */
:root {
	font-size: 62.5%;
}

html {
	box-sizing: border-box;
	overflow-y: scroll;
}

* {
	box-sizing: inherit;
	padding: 0;
	border: 0;
	margin: 0;
}

*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	position: relative;
	color: red;
}

#global-container {
	margin: 0 30px 0 30px;
	min-height: 100vh;
	overflow: hidden;
	padding-bottom: 62px; /*? Height of the footer */
}

/*! -------------------- global header -------------------- */
.global-header_container header {
	margin: 36.1px auto 0 auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: 0fr 0fr 0fr;
}

.global-header_container header a {
	text-decoration: none;
	font-size: 1.6rem;
	color: #111;
	align-self: center;
}

.global-header_container header a:nth-child(2) {
	margin-left: 122.4px;
}

.global-header_container header a:nth-child(3) {
	margin-left: 30px;
}

/*! -------------------- global footer -------------------- */
footer {
	width: 100%;
	height: 62px;
	position: absolute;
	bottom: 0;
	background: #eee;
	display: grid;
	justify-content: center;
	align-items: center;
}

footer p {
	font-size: 1.4rem;
	color: #999;
}
/*! -------------------- global 404 -------------------- */
#not-found h1 {
	margin-top: 33vh;
	text-align: center;
	font-size: 100px;
	font-family: 'Roboto', sans-serif;
	color: maroon;
}

#not-found h2 {
	text-align: center;
	font-size: 50px;
	color: #111;
	font-family: 'Roboto', sans-serif;
}

/*! -------------------- index ads -------------------- */
.index-ads {
	margin: 30px auto 0 auto;
	max-width: 940px;
	min-height: 366px;
	background-color: #fbdfdb;
	border-radius: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.index-ads_info {
	align-self: center;
}

.index-ads_info p {
	max-width: 316px;
	margin-left: 60px;
}

.index-ads_info p:nth-child(1) {
	font-size: 3.2rem;
	font-weight: bold;
	color: #111;
}

.index-ads_info p:nth-child(2) {
	margin-top: 10px;
	font-size: 1.8rem;
	color: #000;
	opacity: 0.7;
}

.index-ads img {
	margin-right: 100px;
	width: 216px;
	height: 300px;
	justify-self: end;
	align-self: end;
}

/*! -------------------- index recipes -------------------- */
.index-recipes_container {
	margin: 50px auto 50px auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 30px 20px;
}

.index-recipe {
	cursor: pointer;
}

.index-recipe_image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 15px;
}

.index-recipe_info {
	margin-top: 20px;
	font-size: 1.8rem;
	color: #111;
}

.index-recipe_chef {
	margin-top: 5px;
	font-size: 1.4rem;
	color: #777;
}

/*! -------------------- index media queries -------------------- */
@media screen and (max-width: 415px) {
	.index-ads {
		grid-template-columns: 1fr;
		min-height: 525px;
	}
	.index-ads_info p {
		margin-left: initial;
		margin: 30px auto 0 auto;
	}

	.index-ads img {
		margin-right: initial;
		justify-self: center;
	}
}

/*! -------------------- about -------------------- */
.about-main {
	margin: 50px auto 50px auto;
	max-width: 940px;
}

.about-main_div1 {
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
}

.about-main_article1 {
	margin-top: 15px;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
}

.about-main_div2 {
	margin-top: 25px;
	font-size: 2rem;
	font-weight: bold;
	color: #111;
}

.about-main_article2 {
	margin-top: 15px;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
}

.about-main_div3 {
	margin-top: 25px;
	font-size: 2rem;
	font-weight: bold;
	color: #111;
}

.about-main_article3 {
	margin-top: 15px;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
}

/*! -------------------- recipes -------------------- */
.recipes-recipes_container {
	margin: 50px auto 50px auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 30px 20px;
	font-size: 4rem;
}

.recipes-recipe {
	cursor: pointer;
}

.recipes-recipe_image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 15px;
}

.recipes-recipe_info {
	margin-top: 10px;
	font-size: 1.8rem;
	color: #111;
}

.recipes-recipe_chef {
	margin-top: 5px;
	font-size: 1.4rem;
	color: #777;
}

/*! -------------------- recipe -------------------- */
.recipe-image_container {
	margin: 47px auto 0 auto;
	max-width: 940px;
}

.recipe-recipe_image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 15px;
}

.recipe-recipe_info {
	margin-top: 50px;
	display: grid;
	justify-content: center;
	text-align: center;
}

.recipe-recipe_info p:nth-child(1) {
	font-size: 3.6rem;
	font-weight: bold;
	color: #111;
}

.recipe-recipe_info p:nth-child(2) {
	margin-top: 4px;
	font-size: 2rem;
	color: #777;
}

.recipe-main_container {
	margin: 50px auto 50px auto;
	max-width: 940px;
}

.recipe-ingredients {
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
	display: flex;
}

.recipe-ingredients p:nth-child(2) {
	margin-left: 8px;
	font-size: 1.2rem;
	color: #999;
	align-self: flex-end;
	padding-bottom: 3px;
}

.recipe-ingredients_content {
	margin-top: 20px;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
	list-style-position: inside;
}

.recipe-preparation {
	margin-top: 39px;
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
	display: flex;
}

.recipe-preparation p:nth-child(2) {
	margin-left: 8px;
	font-size: 1.2rem;
	color: #999;
	align-self: flex-end;
	padding-bottom: 3px;
}

.recipe-preparation_content {
	margin-top: 20px;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
}

.recipe-information {
	margin-top: 39px;
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
	display: flex;
}

.recipe-information p:nth-child(2) {
	margin-left: 8px;
	font-size: 1.2rem;
	color: #999;
	align-self: flex-end;
	padding-bottom: 3px;
}

.recipe-information_content {
	margin-top: -0.8rem;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
	white-space: pre-line;
}

.btn {
	cursor: pointer;
}

.hide {
	display: none;
}

/*! -------------------- admin global header -------------------- */
.admin-header_container {
	padding: 25px 30px 26.1px 30px;
	background-color: #111;
	align-self: center;
}

.admin-header_container header {
	margin: 0 auto 0 auto;
	max-width: 940px;
}

.admin-header_container header a {
	text-decoration: none;
	font-size: 1.6rem;
	filter: invert(100%);
	align-self: center;
}

/*! -------------------- admin index -------------------- */
.admin-index-manage_recipes {
	margin: 50px auto 0 auto;
	max-width: 940px;
	font-weight: bold;
	font-size: 2.4rem;
	color: #111;
}

/*! -------------------- admin index recipes -------------------- */
.admin-index-recipes_container {
	margin: 30px auto 50px auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(450px, auto));
	gap: 30px 20px;
}

.admin-index-recipe {
	display: grid;
	grid-template-columns: 172px 308px;
	column-gap: 20px;
}

.admin-index-recipe_image img {
	width: 100%;
	height: 80px;
	object-fit: cover;
	border-radius: 8.57px;
}

.admin-index-recipe_info_container p:nth-child(1) {
	font-size: 1.8rem;
	color: #111;
}

.admin-index-recipe_info_container p:nth-child(2) {
	margin-top: 5px;
	font-size: 1.4rem;
	color: #777;
}

.admin-index-recipe_info_show {
	margin-top: 10px;
}

.admin-index-recipe_info_show a {
	font-size: 1.4rem;
	font-weight: bold;
	color: #6558c3;
	text-decoration: none;
}

/*! -------------------- index media queries -------------------- */
@media screen and (max-width: 415px) {
	.admin-index-recipes_container {
		display: grid;
		grid-template-columns: 1fr;
	}
	.admin-index-recipe {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 20px;
	}

	.admin-index-recipe_image img {
		height: 100%;
		object-fit: contain;
		border-radius: 15px;
	}
}

/*! -------------------- admin show -------------------- */
.admin-show-button_container {
	margin: 50px auto 0 auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.admin-show-button_container p {
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
}

.admin-show-button_container button {
	padding: 9px 20px;
	background-color: #6558c3;
	border-radius: 4px;
	justify-self: end;
}

.admin-show-button_container a {
	color: #fff;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

.admin-show-image_container {
	margin: 20px auto 0 auto;
	max-width: 940px;
}

.admin-show-recipe_image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 15px;
}

.admin-show-recipe_info {
	margin-top: 50px;
	display: grid;
	justify-content: center;
	text-align: center;
}

.admin-show-recipe_info p:nth-child(1) {
	font-size: 3.6rem;
	font-weight: bold;
	color: #111;
}

.admin-show-recipe_info p:nth-child(2) {
	margin-top: 4px;
	font-size: 2rem;
	color: #777;
}

.admin-show-main_container {
	margin: 50px auto 50px auto;
	max-width: 940px;
}

.admin-show-ingredients {
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
	display: flex;
}

.admin-show-ingredients_content {
	margin-top: 20px;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
	list-style-position: inside;
	list-style-type: none;
}

.admin-show-ingredients_content li:before {
	content: '-';
	margin-right: 8px;
}

.admin-show-preparation {
	margin-top: 39px;
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
	display: flex;
}

.admin-show-preparation_content {
	margin-top: 20px;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
	list-style-position: inside;
	list-style-type: none;
}

.admin-show-preparation_content li:before {
	content: '-';
	margin-right: 8px;
}

.admin-show-information {
	margin-top: 39px;
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
	display: flex;
}

.admin-show-information_content {
	margin-top: -0.8rem;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
	white-space: pre-line;
}

/*! -------------------- admin edit -------------------- */
.admin-edit-button_container {
	margin: 50px auto 0 auto;
	max-width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.admin-edit-button_container p {
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
}

.admin-edit-buttons {
    justify-self: end;
}

.admin-edit-buttons button {
	padding: 9px 20px;
	background-color: #6558c3;
	border-radius: 4px;
	color: #fff;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.admin-edit-buttons button:nth-child(1) {
    margin-right: 10px;
    background-color: #DC4747;
}

.admin-edit-main_container {
	margin: 50px auto 50px auto;
	max-width: 940px;
}
