{% extends 'admin/recipes/layout.html' %} {% block head %}
<title>Create - Foodfy Admin</title>
{% endblock %} {% block content %}

<form method="POST" action="/admin/recipes">
	<div class="admin-create-button_container">
		<p>Criando receita</p>

		<div class="admin-create-buttons">
			<button type="submit">Salvar receita</button>
		</div>
	</div>

	<main class="admin-create-main_container">
		<div class="admin-create-image">
			<p>Imagem da receita</p>
		</div>

		<div class="admin-create-image_content">
			<input type="url" name="image" placeholder="https://" />
		</div>

		<div class="admin-create-ingredients">
			<p>Ingredientes</p>
		</div>

		<div id="admin-create-ingredients_node">
			<div class="admin-create-ingredients_content">
				<input type="text" name="ingredients" value="" />
			</div>
		</div>

		<div class="admin-create-add_new_ingredient">
			<button type="button" class="admin-create-btn_add_ingredient">Adicionar novo ingrediente</button>
		</div>

		<div class="admin-create-preparation">
			<p>Modo de prepararo</p>
		</div>

		<div id="admin-create-preparation_node">
			<div class="admin-create-preparation_content">
				<input type="text" name="preparation" value="" />
			</div>
		</div>

		<div class="admin-create-add_new_preparation">
			<button type="button" class="admin-create-btn_add_preparation">Adicionar novo passo</button>
		</div>

		<div class="admin-create-information">
			<p>Informações adicionais</p>
		</div>

		<div class="admin-create-information_content">
			<textarea name="information">{{ recipe.information }}</textarea>
		</div>
	</main>
</form>

{% endblock %}
