<main class="admin-edit-main_container">
	<div class="admin-edit-image">
		<p>Imagem da receita</p>
	</div>

	<div class="admin-edit-image_content">
		<input type="url" name="image" value="{{ recipe.image }}" />
	</div>

	<div class="admin-edit-ingredients">
		<p>Ingredientes</p>
	</div>

	<div id="admin-edit-ingredients_node">
		<div class="admin-edit-ingredients_content">
			{% for ingredients in recipe.ingredients %}
			<input type="text" name="ingredients" value="{{ ingredients }}" />
			{% endfor %}
		</div>
	</div>

	<div class="admin-edit-add_new_ingredient">
		<button type="button" class="admin-edit-btn_add_ingredient">Adicionar novo ingrediente</button>
	</div>

	<div class="admin-edit-preparation">
		<p>Modo de prepararo</p>
	</div>

	<div id="admin-edit-preparation_node">
		<div class="admin-edit-preparation_content">
			{% for preparation in recipe.preparation %}
			<input type="text" name="preparation" value="{{ preparation }}" />
			{% endfor %}
		</div>
	</div>

	<div class="admin-edit-add_new_preparation">
		<button type="button" class="admin-edit-btn_add_preparation">Adicionar novo passo</button>
	</div>

	<div class="admin-edit-information">
		<p>Informações adicionais</p>
	</div>

	<div class="admin-edit-information_content">
		<textarea name="information" value="{{ recipe.information }}">
{{ recipe.information }}</textarea
		>
	</div>
</main>
