{% extends 'admin/recipes/layout.html' %}
{% block content %}

<div class="admin-index-manage_recipes">Gerenciar receitas</div>

<main class="admin-index-recipes_container">
	{% for recipe in recipes %}
	<div class="admin-index-recipe" data-recipe_id="{{ recipes.indexOf(recipe) }}">
		<div class="admin-index-recipe_image">
			<img src="{{ recipe.image }}" alt="Imagem de {{ recipe.title }}" />
		</div>
		<div class="admin-index-recipe_info">
			<p>{{ recipe.title }}</p>
		</div>
		<div class="admin-index-recipe_chef">
			<p>por {{ recipe.author }}</p>
		</div>
	</div>
	{% endfor %}
</main>

{% endblock %}

{% block script %}
{% endblock%}
