{% extends 'admin/recipes/layout.html' %} {% block head %}
<title>Index - Foodfy Admin</title>
{% endblock %} {% block content %}

<div class="admin-index-manage_recipes">Gerenciar receitas</div>

<main class="admin-index-recipes_container">
	{% for recipe in recipes %}
	<div class="admin-index-recipe" data-recipe_id="{{ recipes.indexOf(recipe) }}">
		<div class="admin-index-recipe_image">
			<img src="{{ recipe.image }}" alt="Imagem de {{ recipe.title }}" />
		</div>
		<div class="admin-index-recipe_info_container">
			<p>{{ recipe.title }}</p>
			<p>por {{ recipe.author }}</p>
			<div class="admin-index-recipe_info_show">
				<a href="/admin/recipes/{{ recipes.indexOf(recipe) }}">Visualizar</a>
			</div>
		</div>
	</div>
	{% endfor %}
</main>

{% endblock %}
