<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{% block head %}
		<title>Foodfy Admin</title>
		{% endblock %}

		<link
			rel="shortcut icon"
			href="https://raw.githubusercontent.com/rocketseat-education/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico"
			type="image/x-icon"
		/>
		<link rel="stylesheet" href="/style.css" />
	</head>
	<body>
		<div class="admin-header_container">
            {% block header %}
			<header class="admin-header">
				<a href="/admin/recipes"><img src="/assets/logo.png" alt="Foodfy Logo" /></a>
			</header>
            {% endblock %}
		</div>
		<div id="global-container">{% block content %} {% endblock %}</div>

		<script src="/scripts.js"></script>
	</body>
</html>
