@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*! -------------------- global settings -------------------- */
:root {
	font-size: 62.5%;
}

html {
	box-sizing: border-box;
	overflow-y: scroll;
}

* {
	box-sizing: inherit;
	padding: 0;
	border: 0;
	margin: 0;
}

*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	position: relative;
	color: red;
}

#global-container {
	margin: 0 30px 0 30px;
	min-height: 100vh;
	overflow: hidden;
	padding-bottom: 62px; /*? Height of the footer */
}

/*! -------------------- global header -------------------- */
.global-header_container header {
	margin: 36.1px auto 0 auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: 0fr 0fr 0fr 0fr 0fr 1fr;
	align-items: center;
}

.global-header_container header a:nth-child(1) {
	text-decoration: none;
	font-size: 1.6rem;
	color: #111;
}

.global-header_container header a:nth-child(1) img {
	vertical-align: middle;
}

.global-header_container header a:nth-child(2) {
	margin-left: 122.4px;
	text-decoration: none;
	font-size: 1.6rem;
	line-height: 3.9rem;
	color: #111;
}

.global-header_container header a:nth-child(3) {
	margin-left: 30px;
	text-decoration: none;
	font-size: 1.6rem;
	color: #111;
}

.global-header_container header a:nth-child(4) {
	margin-left: 30px;
	text-decoration: none;
	font-size: 1.6rem;
	color: #111;
}

.global-header_container header a:nth-child(5) {
	margin-left: 30px;
	margin-right: 30px;
	text-decoration: none;
	font-size: 1.6rem;
	color: #111;
}

.global-header_container header a.activePage {
	font-weight: bold;
}

.global-header-filter_container {
	justify-self: end;
}

.global-header-filter_container form {
	display: grid;
	grid-template-columns: 246px 91px;
	justify-self: end;
	align-items: center;
	gap: 0 8px;
}

.global-header-filter_container form input {
	border: 1px solid #eee;
	padding: 10px 15px;
	font-size: 1.4rem;
	color: #999;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	outline: none;
}

.global-header-filter_container form button {
	padding: 9px 20px;
	border-radius: 4px;
	background-color: #6558c3;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1.6rem;
}

/*! -------------------- global header - media queries -------------------- */
@media screen and (max-width: 945px) {
	.global-header_container header {
		display: grid;
		grid-template-columns: 1fr 0fr 0fr 0fr 0fr;
		grid-template-rows: 0fr 0fr;
	}

	.global-header_container header a:nth-child(n + 2) {
		margin-right: 0;
		justify-self: end;
	}

	.global-header-filter_container {
		margin-top: 10px;
		justify-self: center;
		grid-column-end: span 5;
	}

	.global-header-filter_container form {
		grid-template-columns: auto auto;
	}
}
@media screen and (max-width: 565px) {
	.global-header_container header {
		display: grid;
		grid-template-columns: 1fr 0fr 0fr 0fr 0fr;
		grid-template-rows: 0fr 0fr;
	}

	.global-header_container header a:nth-child(n + 2) {
		font-size: 1.4rem;
		margin-left: 8px;
		margin-right: 0;
		justify-self: end;
	}

	.global-header-filter_container {
		margin-top: 10px;
		justify-self: center;
		grid-column-end: span 5;
	}

	.global-header-filter_container form {
		grid-template-columns: auto auto;
	}

	.global-header-filter_container form input {
		font-size: 1.2rem;
	}

	.global-header-filter_container form button {
		font-size: 1.2rem;
	}
}

/*! -------------------- global footer -------------------- */
footer {
	width: 100%;
	height: 62px;
	position: absolute;
	bottom: 0;
	background: #eee;
	display: grid;
	justify-content: center;
	align-items: center;
}

footer p {
	font-size: 1.4rem;
	color: #999;
}

/*! -------------------- global 404 -------------------- */
#not-found h1 {
	margin-top: 33vh;
	text-align: center;
	font-size: 100px;
	font-family: 'Roboto', sans-serif;
	color: maroon;
}

#not-found h2 {
	text-align: center;
	font-size: 50px;
	color: #111;
	font-family: 'Roboto', sans-serif;
}

/*! -------------------- global pagination -------------------- */
.pagination {
	margin: 50px 0 0 0;
	align-self: end;
	justify-self: center;
}

.pagination a,
.pagination span {
	color: #111;
	text-decoration: none;
	margin-right: 16px;
}

.pagination a:hover {
	filter: brightness(0.3);
	border-bottom: 1px solid #111;
}

/*! -------------------- index ads -------------------- */
.index-ads {
	margin: 30px auto 0 auto;
	max-width: 940px;
	min-height: 366px;
	background-color: #fbdfdb;
	border-radius: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.index-ads_info {
	align-self: center;
}

.index-ads_info p {
	max-width: 316px;
	margin-left: 60px;
}

.index-ads_info p:nth-child(1) {
	font-size: 3.2rem;
	font-weight: bold;
	color: #111;
}

.index-ads_info p:nth-child(2) {
	margin-top: 10px;
	font-size: 1.8rem;
	color: #000;
	opacity: 0.7;
}

.index-ads img {
	margin-right: 100px;
	width: 216px;
	height: 300px;
	justify-self: end;
	align-self: end;
}

/*! -------------------- index recipes -------------------- */
.index-recipes_container {
	margin: 50px auto 50px auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 30px 20px;
}

.index-recipe {
	cursor: pointer;
}

.index-recipe_image {
	height: 140px;
}

.index-recipe_image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}

.index-recipe_info {
	margin-top: 20px;
	font-size: 1.8rem;
	color: #111;
}

.index-recipe_chef {
	margin-top: 5px;
	font-size: 1.4rem;
	color: #777;
}

/*! -------------------- index media queries -------------------- */
@media screen and (max-width: 415px) {
	.index-ads {
		grid-template-columns: 1fr;
		min-height: 525px;
	}

	.index-ads_info p {
		margin-left: initial;
		margin: 30px auto 0 auto;
	}

	.index-ads img {
		margin-right: initial;
		justify-self: center;
	}
}

/*! -------------------- about -------------------- */
.about-main {
	margin: 50px auto 50px auto;
	max-width: 940px;
}

.about-main_div1 {
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
}

.about-main_article1 {
	margin-top: 15px;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
}

.about-main_div2 {
	margin-top: 25px;
	font-size: 2rem;
	font-weight: bold;
	color: #111;
}

.about-main_article2 {
	margin-top: 15px;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
}

.about-main_div3 {
	margin-top: 25px;
	font-size: 2rem;
	font-weight: bold;
	color: #111;
}

.about-main_article3 {
	margin-top: 15px;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
}

/*! -------------------- recipes -------------------- */
.recipes-recipes_container {
	margin: 50px auto 50px auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 30px 20px;
	font-size: 4rem;
}

.recipes-recipe {
	cursor: pointer;
}

.recipes-recipe_image {
	height: 140px;
}

.recipes-recipe_image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
	font-size: 1.4rem;
}

.recipes-recipe_info {
	margin-top: 20px;
	font-size: 1.8rem;
	color: #111;
}

.recipes-recipe_chef {
	margin-top: 5px;
	font-size: 1.4rem;
	color: #777;
}

/*! -------------------- recipes - pagination -------------------- */
.recipes-pagination_container {
	margin: 60px auto 50px auto;
	max-width: 940px;
	display: flex;
	justify-content: center;
}

.recipes-pagination a,
.recipes-pagination span {
	color: #111;
	text-decoration: none;
	margin-right: 16px;
	font-size: 1.6rem;
}

.recipes-pagination a:hover {
	color: #6558c3;
	border-bottom: 1px solid #111;
}
/*! -------------------- recipe -------------------- */
.recipe-image_container {
	margin: 47px auto 0 auto;
	max-width: 940px;
}

.recipe-recipe_image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 15px;
}

.recipe-recipe_info {
	margin-top: 50px;
	display: grid;
	justify-content: center;
	text-align: center;
}

.recipe-recipe_info p:nth-child(1) {
	font-size: 3.6rem;
	font-weight: bold;
	color: #111;
}

.recipe-recipe_info p:nth-child(2) {
	margin-top: 4px;
	font-size: 2rem;
	color: #777;
}

.recipe-main_container {
	margin: 50px auto 50px auto;
	max-width: 940px;
}

.recipe-ingredients {
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
	display: flex;
}

.recipe-ingredients p:nth-child(2) {
	margin-left: 8px;
	font-size: 1.2rem;
	color: #999;
	align-self: flex-end;
	padding-bottom: 3px;
}

.recipe-ingredients_content {
	margin-top: 20px;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
	list-style-position: inside;
}

.recipe-preparation {
	margin-top: 39px;
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
	display: flex;
}

.recipe-preparation p:nth-child(2) {
	margin-left: 8px;
	font-size: 1.2rem;
	color: #999;
	align-self: flex-end;
	padding-bottom: 3px;
}

.recipe-preparation_content {
	margin-top: 20px;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
}

.recipe-information {
	margin-top: 39px;
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
	display: flex;
}

.recipe-information p:nth-child(2) {
	margin-left: 8px;
	font-size: 1.2rem;
	color: #999;
	align-self: flex-end;
	padding-bottom: 3px;
}

.recipe-information_content {
	margin-top: -0.8rem;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
	white-space: pre-line;
}

.btn {
	cursor: pointer;
}

.hide {
	display: none;
}

/*! -------------------- chefs -------------------- */
.chefs-chefs_container {
	margin: 50px auto 50px auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(210px, auto));
	gap: 30px 30px;
}

.chefs-chef {
	display: grid;
	grid-template-columns: 64px 146px;
	column-gap: 20px;
	align-items: center;
	cursor: pointer;
}

.chefs-chef_image img {
	width: 64px;
	height: 64px;
	object-fit: cover;
	border-radius: 50%;
}

.chefs-chef_info_container p:nth-child(1) {
	font-size: 1.8rem;
	color: #111;
}

.chefs-chef_info_container p:nth-child(2) {
	margin-top: 5px;
	font-size: 1.4rem;
	color: #666;
}

/*! -------------------- chefs - media queries -------------------- */
@media screen and (max-width: 415px) {
	.chefs-chefs_container {
		display: grid;
		grid-template-columns: 1fr;
	}

	.chefs-chef {
		display: grid;
		grid-template-columns: 80px 146px;
		column-gap: 20px;
		align-items: center;
	}

	.chefs-chef_image img {
		height: 80px;
		width: 80px;
		object-fit: cover;
		border-radius: 50%;
	}
}

/*! -------------------- chef -------------------- */
.chef-name_container {
	margin: 50px auto 0 auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: 1fr;
}

.chef-name_container p {
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
}

.chef-name_container a {
	color: #fff;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

.chef-image_container {
	margin: 42px auto 0 auto;
	max-width: 940px;
	display: grid;
	justify-content: center;
}

.chef-chef_image img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
}

.chef-chef_info {
	margin-top: 30px;
	display: grid;
	justify-content: center;
	text-align: center;
}

.chef-chef_info p:nth-child(1) {
	font-size: 3.6rem;
	font-weight: bold;
	color: #111;
}

.chef-chef_info p:nth-child(2) {
	margin-top: 4px;
	font-size: 2rem;
	color: #777;
}

.chef-recipes p {
	margin: 50px auto 0 auto;
	max-width: 940px;
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
}

.chef-recipes_container {
	margin: 30px auto 300px auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(450px, auto));
	gap: 30px 20px;
}

.chef-recipe {
	display: grid;
	grid-template-columns: 172px 308px;
	column-gap: 20px;
}

.chef-recipe_image img {
	width: 100%;
	height: 80px;
	object-fit: cover;
	border-radius: 8.57px;
}

.chef-recipe_info_container p:nth-child(1) {
	font-size: 1.8rem;
	color: #111;
}

.chef-recipe_info_container p:nth-child(2) {
	margin-top: 5px;
	font-size: 1.4rem;
	color: #777;
}

.chef-recipe_info_show {
	margin-top: 10px;
}

.chef-recipe_info_show a {
	font-size: 1.4rem;
	font-weight: bold;
	color: #6558c3;
	text-decoration: none;
}

/*! -------------------- search -------------------- */
.search-searching {
	margin: 52px auto 0 auto;
	max-width: 940px;
	font-size: 2.4rem;
	color: #111;
	font-weight: bold;
}

.search-recipes_container {
	margin: 20px auto 50px auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 30px 20px;
}

.search-recipe {
	cursor: pointer;
}

.search-recipe_image {
	height: 140px;
}

.search-recipe_image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}

.search-recipe_info {
	margin-top: 20px;
	font-size: 1.8rem;
	color: #111;
}

.search-recipe_chef {
	margin-top: 5px;
	font-size: 1.4rem;
	color: #777;
}

/*! -------------------- admin global header -------------------- */
.admin-global-header_container {
	padding: 25px 30px 26.1px 30px;
	background-color: #111;
}

.admin-global-header_container header {
	margin: 0 auto 0 auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: 0fr 0fr 0fr;
	align-items: center;
}

.admin-global-header_container header a:nth-child(1) {
	text-decoration: none;
	filter: invert(100%);
}

.admin-global-header_container header a:nth-child(1) img {
	vertical-align: middle;
}

.admin-global-header_container header a:nth-child(2) {
	margin-left: 50.4px;
	text-decoration: none;
	font-size: 1.5rem;
	color: #999;
}

.admin-global-header_container header a:nth-child(3) {
	margin-left: 30px;
	text-decoration: none;
	font-size: 1.5rem;
	color: #999;
}

.admin-global-header_container header a.admin-activePage {
	font-weight: bold;
	color: #fff;
}

/*! -------------------- admin recipes index -------------------- */
.admin-recipes-index-manage_recipes_container {
	margin: 50px auto 0 auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.admin-recipes-index-manage_recipes_container p {
	font-weight: bold;
	font-size: 2.4rem;
	color: #111;
}

.admin-recipes-index-manage_recipes_container button {
	padding: 9px 20px;
	background-color: #6558c3;
	border-radius: 4px;
	justify-self: end;
}

.admin-recipes-index-manage_recipes_container a {
	color: #fff;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

/*! -------------------- admin recipes index - recipes -------------------- */
.admin-recipes-index-recipes_container {
	margin: 30px auto 50px auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(450px, auto));
	gap: 30px 20px;
}

.admin-recipes-index-recipe {
	display: grid;
	grid-template-columns: 172px 308px;
	column-gap: 20px;
}

.admin-recipes-index-recipe_image img {
	width: 100%;
	height: 80px;
	object-fit: cover;
	border-radius: 8.57px;
}

.admin-recipes-index-recipe_info_container p:nth-child(1) {
	font-size: 1.8rem;
	color: #111;
}

.admin-recipes-index-recipe_info_container p:nth-child(2) {
	margin-top: 5px;
	font-size: 1.4rem;
	color: #777;
}

.admin-recipes-index-recipe_info_show {
	margin-top: 10px;
}

.admin-recipes-index-recipe_info_show a {
	font-size: 1.4rem;
	font-weight: bold;
	color: #6558c3;
	text-decoration: none;
}

/*! -------------------- admin recipes index - media queries -------------------- */
@media screen and (max-width: 415px) {
	.admin-recipes-index-recipes_container {
		display: grid;
		grid-template-columns: 1fr;
	}

	.admin-recipes-index-recipe {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 20px;
	}

	.admin-recipes-index-recipe_image img {
		height: 100%;
		object-fit: contain;
		border-radius: 15px;
	}
}

/*! -------------------- admin recipes show -------------------- */
.admin-recipes-show-button_container {
	margin: 50px auto 0 auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.admin-recipes-show-button_container p {
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
}

.admin-recipes-show-button_container button {
	padding: 9px 20px;
	background-color: #6558c3;
	border-radius: 4px;
	justify-self: end;
}

.admin-recipes-show-button_container a {
	color: #fff;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

.admin-recipes-show-image_container {
	margin: 20px auto 0 auto;
	max-width: 940px;
}

.admin-recipes-show-recipe_image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 15px;
}

.admin-recipes-show-recipe_info {
	margin-top: 50px;
	display: grid;
	justify-content: center;
	text-align: center;
}

.admin-recipes-show-recipe_info p:nth-child(1) {
	font-size: 3.6rem;
	font-weight: bold;
	color: #111;
}

.admin-recipes-show-recipe_info p:nth-child(2) {
	margin-top: 4px;
	font-size: 2rem;
	color: #777;
}

.admin-recipes-show-main_container {
	margin: 50px auto 50px auto;
	max-width: 940px;
}

.admin-recipes-show-ingredients {
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
	display: flex;
}

.admin-recipes-show-ingredients_content {
	margin-top: 20px;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
	list-style-position: inside;
	list-style-type: none;
}

.admin-recipes-show-ingredients_content li:before {
	content: '-';
	margin-right: 8px;
}

.admin-recipes-show-preparation {
	margin-top: 39px;
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
	display: flex;
}

.admin-recipes-show-preparation_content {
	margin-top: 20px;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
	list-style-position: inside;
	list-style-type: none;
}

.admin-recipes-show-preparation_content li:before {
	content: '-';
	margin-right: 8px;
}

.admin-recipes-show-information {
	margin-top: 39px;
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
	display: flex;
}

.admin-recipes-show-information_content {
	margin-top: -0.8rem;
	font-size: 1.8rem;
	line-height: 2.8rem;
	color: #444;
	white-space: pre-line;
}

/*! -------------------- admin recipes edit -------------------- */
.admin-recipes-edit-button_container {
	margin: 50px auto 0 auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.admin-recipes-edit-button_container p {
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
}

.admin-recipes-edit-buttons {
	justify-self: end;
}

.admin-recipes-edit-buttons button {
	padding: 9px 20px;
	background-color: #6558c3;
	border-radius: 4px;
	color: #fff;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.admin-recipes-edit-buttons button:nth-child(1) {
	margin-right: 10px;
	background-color: #dc4747;
}

.admin-recipes-edit-main_container {
	margin: 26px auto 50px auto;
	max-width: 940px;
}

.admin-recipes-edit-image {
	font-size: 1.6rem;
	font-weight: bold;
	color: #111;
}

.admin-recipes-edit-image_content input {
	margin-top: 10px;
	padding: 15px 20px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1.6rem;
	color: #111;
	outline: none;
	font-family: 'Roboto', sans-serif;
}

.admin-recipes-edit-chef_select {
	margin-top: 30px;
	font-size: 1.6rem;
	font-weight: bold;
	color: #111;
}

.admin-recipes-edit-chef_select_content select {
	margin-top: 10px;
	padding: 15px 20px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1.6rem;
	color: #111;
	outline: none;
	font-family: 'Roboto', sans-serif;
}

.admin-recipes-edit-title {
	margin-top: 30px;
	font-size: 1.6rem;
	font-weight: bold;
	color: #111;
}

.admin-recipes-edit-title_content input {
	margin-top: 10px;
	padding: 15px 20px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1.6rem;
	color: #111;
	outline: none;
	font-family: 'Roboto', sans-serif;
}

.admin-recipes-edit-ingredients {
	margin-top: 30px;
	font-size: 1.6rem;
	color: #111;
	font-weight: bold;
}

.admin-recipes-edit-ingredients_content input {
	margin-top: 10px;
	padding: 15px 20px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1.6rem;
	color: #111;
	outline: none;
	font-family: 'Roboto', sans-serif;
}

.admin-recipes-edit-add_new_ingredient button {
	margin-top: 15px;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #6558c3;
	text-align: right;
	background-color: #fff;
	cursor: pointer;
}

.admin-recipes-edit-preparation {
	margin-top: 30px;
	font-size: 1.6rem;
	color: #111;
	font-weight: bold;
}

.admin-recipes-edit-preparation_content input {
	margin-top: 10px;
	padding: 15px 20px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1.6rem;
	color: #111;
	outline: none;
	font-family: 'Roboto', sans-serif;
}

.admin-recipes-edit-add_new_preparation button {
	margin-top: 15px;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #6558c3;
	text-align: right;
	background-color: #fff;
	cursor: pointer;
}

.admin-recipes-edit-information {
	margin-top: 30px;
	font-size: 1.6rem;
	color: #111;
	font-weight: bold;
}

.admin-recipes-edit-information_content textarea {
	margin-top: 10px;
	padding: 10px 20px;
	width: 100%;
	min-height: 257px;
	border-radius: 4px;
	border: 1px solid #dddd;
	font-size: 1.6rem;
	color: #111;
	line-height: 2.4rem;
	font-family: 'Roboto', sans-serif;
	resize: none;
	outline: none;
}

/*! -------------------- admin recipes create -------------------- */
.admin-recipes-create-button_container {
	margin: 50px auto 0 auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.admin-recipes-create-button_container p {
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
}

.admin-recipes-create-buttons {
	justify-self: end;
}

.admin-recipes-create-buttons button {
	padding: 9px 20px;
	background-color: #6558c3;
	border-radius: 4px;
	color: #fff;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.admin-recipes-create-main_container {
	margin: 26px auto 50px auto;
	max-width: 940px;
}

.admin-recipes-create-image {
	font-size: 1.6rem;
	font-weight: bold;
	color: #111;
}

.admin-recipes-create-chef_select {
	margin-top: 30px;
	font-size: 1.6rem;
	font-weight: bold;
	color: #111;
}

.admin-recipes-create-chef_select_content select {
	margin-top: 10px;
	padding: 15px 20px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1.6rem;
	color: #999;
	outline: none;
	font-family: 'Roboto', sans-serif;
}
.admin-recipes-create-title {
	margin-top: 30px;
	font-size: 1.6rem;
	font-weight: bold;
	color: #111;
}

.admin-recipes-create-title_content input {
	margin-top: 10px;
	padding: 15px 20px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1.6rem;
	color: #111;
	outline: none;
	font-family: 'Roboto', sans-serif;
}

.admin-recipes-create-ingredients {
	margin-top: 30px;
	font-size: 1.6rem;
	color: #111;
	font-weight: bold;
}

.admin-recipes-create-ingredients_content input {
	margin-top: 10px;
	padding: 15px 20px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1.6rem;
	color: #111;
	outline: none;
	font-family: 'Roboto', sans-serif;
}

.admin-recipes-create-add_new_ingredient button {
	margin-top: 15px;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #6558c3;
	text-align: right;
	background-color: #fff;
	cursor: pointer;
}

.admin-recipes-create-preparation {
	margin-top: 30px;
	font-size: 1.6rem;
	color: #111;
	font-weight: bold;
}

.admin-recipes-create-preparation_content input {
	margin-top: 10px;
	padding: 15px 20px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1.6rem;
	color: #111;
	outline: none;
	font-family: 'Roboto', sans-serif;
}

.admin-recipes-create-add_new_preparation button {
	margin-top: 15px;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #6558c3;
	text-align: right;
	background-color: #fff;
	cursor: pointer;
}

.admin-recipes-create-information {
	margin-top: 30px;
	font-size: 1.6rem;
	color: #111;
	font-weight: bold;
}

.admin-recipes-create-information_content textarea {
	margin-top: 10px;
	padding: 10px 20px;
	width: 100%;
	min-height: 257px;
	border-radius: 4px;
	border: 1px solid #dddd;
	font-size: 1.6rem;
	color: #111;
	line-height: 2.4rem;
	font-family: 'Roboto', sans-serif;
	resize: none;
	outline: none;
}

/*! -------------------- admin chefs index -------------------- */
.admin-recipes-index-manage_chefs_container {
	margin: 50px auto 0 auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.admin-recipes-index-manage_chefs_container p {
	font-weight: bold;
	font-size: 2.4rem;
	color: #111;
}

.admin-recipes-index-manage_chefs_container button {
	padding: 9px 20px;
	background-color: #6558c3;
	border-radius: 4px;
	justify-self: end;
}

.admin-recipes-index-manage_chefs_container a {
	color: #fff;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

/*! -------------------- admin chefs index - chefs -------------------- */
.admin-chefs-index-chefs_container {
	margin: 30px auto 50px auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(210px, auto));
	gap: 30px 30px;
}

.admin-chefs-index-chef {
	display: grid;
	grid-template-columns: 64px 146px;
	column-gap: 20px;
	align-items: center;
}

.admin-chefs-index-chef_image img {
	width: 64px;
	height: 64px;
	object-fit: cover;
	border-radius: 50%;
}

.admin-chefs-index-chef_info_container p:nth-child(1) {
	font-size: 1.8rem;
	color: #111;
}

.admin-chefs-index-chef_info_show {
	margin-top: 10px;
}

.admin-chefs-index-chef_info_show a {
	font-size: 1.4rem;
	font-weight: bold;
	color: #6558c3;
	text-decoration: none;
}

/*! -------------------- admin chefs index - media queries -------------------- */
@media screen and (max-width: 415px) {
	.admin-chefs-index-chefs_container {
		display: grid;
		grid-template-columns: 1fr;
	}

	.admin-chefs-index-chef {
		display: grid;
		grid-template-columns: 80px 146px;
		column-gap: 20px;
		align-items: center;
	}

	.admin-chefs-index-chef_image img {
		height: 80px;
		width: 80px;
		object-fit: cover;
		border-radius: 50%;
	}
}

/*! -------------------- admin chefs show -------------------- */
.admin-chefs-show-button_container {
	margin: 50px auto 0 auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.admin-chefs-show-button_container p {
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
}

.admin-chefs-show-button_container button {
	padding: 9px 20px;
	background-color: #6558c3;
	border-radius: 4px;
	justify-self: end;
}

.admin-chefs-show-button_container a {
	color: #fff;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

.admin-chefs-show-image_container {
	margin: 42px auto 0 auto;
	max-width: 940px;
	display: grid;
	justify-content: center;
}

.admin-chefs-show-chef_image img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
}

.admin-chefs-show-chef_info {
	margin-top: 30px;
	display: grid;
	justify-content: center;
	text-align: center;
}

.admin-chefs-show-chef_info p:nth-child(1) {
	font-size: 3.6rem;
	font-weight: bold;
	color: #111;
}

.admin-chefs-show-chef_info p:nth-child(2) {
	margin-top: 4px;
	font-size: 2rem;
	color: #777;
}

.admin-chefs-show-recipes p {
	margin: 50px auto 0 auto;
	max-width: 940px;
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
}

.admin-chefs-show-recipes_container {
	margin: 30px auto 300px auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(450px, auto));
	gap: 30px 20px;
}

.admin-chefs-show-recipe {
	display: grid;
	grid-template-columns: 172px 308px;
	column-gap: 20px;
}

.admin-chefs-show-recipe_image img {
	width: 100%;
	height: 80px;
	object-fit: cover;
	border-radius: 8.57px;
}

.admin-chefs-show-recipe_info_container p:nth-child(1) {
	font-size: 1.8rem;
	color: #111;
}

.admin-chefs-show-recipe_info_container p:nth-child(2) {
	margin-top: 5px;
	font-size: 1.4rem;
	color: #777;
}

.admin-chefs-show-recipe_info_show {
	margin-top: 10px;
}

.admin-chefs-show-recipe_info_show a {
	font-size: 1.4rem;
	font-weight: bold;
	color: #6558c3;
	text-decoration: none;
}

/*! -------------------- admin chefs edit -------------------- */
.admin-chefs-edit-button_container {
	margin: 50px auto 0 auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.admin-chefs-edit-button_container p {
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
}

.admin-chefs-edit-buttons {
	justify-self: end;
}

.admin-chefs-edit-buttons button {
	padding: 9px 20px;
	background-color: #6558c3;
	border-radius: 4px;
	color: #fff;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.admin-chefs-edit-buttons button:nth-child(1) {
	margin-right: 10px;
	background-color: #dc4747;
}

.admin-chefs-edit-main_container {
	margin: 26px auto 50px auto;
	max-width: 940px;
}

.admin-chefs-edit-name {
	font-size: 1.6rem;
	font-weight: bold;
	color: #111;
}

.admin-chefs-edit-name_content input {
	margin-top: 10px;
	padding: 15px 20px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1.6rem;
	color: #111;
	outline: none;
	font-family: 'Roboto', sans-serif;
}

.admin-chefs-edit-image {
	margin-top: 30px;
	font-size: 1.6rem;
	font-weight: bold;
	color: #111;
}

.admin-chefs-edit-image_content input {
	margin-top: 10px;
	padding: 15px 20px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1.6rem;
	color: #111;
	outline: none;
	font-family: 'Roboto', sans-serif;
}

/*! -------------------- admin chefs create -------------------- */
.admin-chefs-create-button_container {
	margin: 50px auto 0 auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.admin-chefs-create-button_container p {
	font-size: 2.4rem;
	font-weight: bold;
	color: #111;
}

.admin-chefs-create-buttons {
	justify-self: end;
}

.admin-chefs-create-buttons button {
	padding: 9px 20px;
	background-color: #6558c3;
	border-radius: 4px;
	color: #fff;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.admin-chefs-create-main_container {
	margin: 26px auto 50px auto;
	max-width: 940px;
}

.admin-chefs-create-name {
	font-size: 1.6rem;
	font-weight: bold;
	color: #111;
}

.admin-chefs-create-name_content input {
	margin-top: 10px;
	padding: 15px 20px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1.6rem;
	color: #111;
	outline: none;
	font-family: 'Roboto', sans-serif;
}

.admin-chefs-create-image {
	margin-top: 30px;
	font-size: 1.6rem;
	font-weight: bold;
	color: #111;
}

.admin-chefs-create-image_content input {
	margin-top: 10px;
	padding: 15px 20px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1.6rem;
	color: #111;
	outline: none;
	font-family: 'Roboto', sans-serif;
}

/*! -------------------- PHOTOS UPLOAD -------------------- */
.admin-recipes-create-image_content {
	margin-top: 10px;
	display: grid;
	grid-template-columns: 150px 1fr;
	gap: 0 10px;
}

#photos-upload {
	position: relative;
	display: block;
	width: 150px;
	height: 150px;
	border: 1px solid #DDD;
	border-radius: 3.5px;
	cursor: pointer;
}

#photos-upload i {
	color: #999;
	width: 100%;
	height: 100%;
	font-size: 2.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#photos-input {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

#photos-preview {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0 10px;
	width: 100%;
	border-radius: 3.5px;
}

#photos-preview img {
	width: 100%;
	height: 150px;
	object-fit: cover;
	border-radius: 3.5px;
}

#photos-preview .photo {
	position: relative;
	width: 100%;
	height: 150px;
}

#photos-preview .photo i {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.8);
	color: red;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.8rem;
	cursor: pointer;
	transition: opacity 200ms;
	opacity: 0;
}

#photos-preview .photo:hover i {
	opacity: 1;
}
