/*! -------------------- index ads -------------------- */
.index-ads {
	margin: 30px auto 0 auto;
	max-width: 940px;
	min-height: 366px;
	background-color: #fbdfdb;
	border-radius: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.index-ads_info {
	align-self: center;
}

.index-ads_info p {
	max-width: 316px;
	margin-left: 60px;
}

.index-ads_info p:nth-child(1) {
	font-size: 3.2rem;
	font-weight: bold;
	color: #111;
}

.index-ads_info p:nth-child(2) {
	margin-top: 10px;
	font-size: 1.8rem;
	color: #000;
	opacity: 0.7;
}

.index-ads img {
	margin-right: 100px;
	width: 216px;
	height: 300px;
	justify-self: end;
	align-self: end;
}

/*! -------------------- index recipes -------------------- */
.index-recipes_container {
	margin: 50px auto 50px auto;
	max-width: 940px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 30px 20px;
}

.index-recipe {
	cursor: pointer;
}

.index-recipe_image {
	height: 140px;
}

.index-recipe_image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}

.index-recipe_info {
	margin-top: 20px;
	font-size: 1.8rem;
	color: #111;
}

.index-recipe_chef {
	margin-top: 5px;
	font-size: 1.4rem;
	color: #777;
}

/*! -------------------- index media queries -------------------- */
@media screen and (max-width: 415px) {
	.index-ads {
		grid-template-columns: 1fr;
		min-height: 525px;
	}

	.index-ads_info p {
		margin-left: initial;
		margin: 30px auto 0 auto;
	}

	.index-ads img {
		margin-right: initial;
		justify-self: center;
	}
}
