{% extends 'layout.html' %} {% block head %}
<title>Foodfy</title>
{% endblock %} {% block header %}

<header>
	<a href="/"><img src="/assets/logo.png" alt="Foodfy Logo" /></a>
	<a class="activeSelector" href="/about">Sobre</a>
	<a class="activeSelector" href="/recipes">Receitas</a>
	<a class="activeSelector" href="/chefs">Chefs</a>
	<a class="activeSelector" href="/admin/recipes">Admin</a>
	<div class="global-header-filter_container">
		<form action="/search" method="GET">
			<input
				type="text"
				name="filter"
				placeholder="Buscar uma receita"
				value="{{ filter }}"
			/>
			<button type="submit">Buscar</button>
		</form>
	</div>
</header>

{% endblock %} {% block content %}

<section class="index-ads">
	<div class="index-ads_info">
		<p>As melhores receitas</p>
		<p>
			Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo
			inteiro.
		</p>
	</div>
	<img src="/assets/chef.png" alt="Chef" srcset="" />
</section>

<main class="index-recipes_container">
	{% for recipe in recipes %}
	<div class="index-recipe" data-recipe_id="{{ recipe.id }}">
		<div class="index-recipe_image">
			<img src="{{ recipe.image }}" alt="Imagem de {{ recipe.title }}" />
		</div>
		<div class="index-recipe_info">
			<p>{{ recipe.title }}</p>
		</div>
		<div class="index-recipe_chef">
			<p>por {{ recipe.author }}</p>
		</div>
	</div>
	{% endfor %}
</main>

{% endblock %}
